# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Others
journal.md
layout.txt
sandbox.ipynb
